@use "../base/variaveis";
@use "../base/mixins";

.cabecalho {
  height: 100vh;
  background: url(../../img/Netflix-Hintergrund\ 1.png) no-repeat center center;
  background-size: cover;

  .cabecalho-nav {
    display: flex;
    justify-content: space-between;
    padding: 21px 196px 0 196px;

    img {
      width: 200px;
      height: 50px;
    }

    .cabecalho-acoes {
      display: flex;
      align-items: center;
      gap: 30px;

      #language {
        width: 167px;
        height: 37px;
        text-align: center;
        background-color: transparent;
        border: 1px solid variaveis.$color-text;
        border-radius: 7px;
        cursor: pointer;

        @include mixins.fs-fw-fc(1rem, bold, variaveis.$color-text);

        &:focus {
          background-color: variaveis.$color-form;
        }
      }

      .btn {
        width: 118px;
        height: 37px;
        background-color: variaveis.$color-btn;
        border: none;
        border-radius: 7px;

        @include mixins.fs-fw-fc(1rem, bold, variaveis.$color-text);
      }
    }
  }

  .cabecalho-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .cabecalho-conteudo-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 22px;

      h1 {
        @include mixins.fs-fw-fc(2.5rem, bold, variaveis.$color-text);
      }

      p {
        @include mixins.fs-fw-fc(1.5rem, normal, variaveis.$color-text);
      }

      span {
        @include mixins.fs-fw-fc(1.25rem, normal, variaveis.$color-text);
      }

      .cabecalho-conteudo-form {
        display: flex;
        gap: 15px;

        .form-email {
          width: 360px;
          height: 60px;
          background-color: rgba(variaveis.$color-form, 0.7);
          border: 1px solid variaveis.$color-text;
          border-radius: 6px;
          padding: 0 29px;

          @include mixins.fs-fw-fc(1rem, normal, variaveis.$color-text);

          &::placeholder {
            @include mixins.fs-fw-fc(1.25rem, normal, #cfa7a7);
          }
        }

        .form-btn {
          width: 230px;
          height: 60px;
          background-color: variaveis.$color-btn;
          border: none;
          border-radius: 6px;
          cursor: pointer;

          @include mixins.fs-fw-fc(1.5rem, normal, variaveis.$color-text);
        }
      }
    }
  } 
}

hr {
  border: none;
  border: 3px solid #1E1E1E;
}