* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

button {
  cursor: pointer;
}

.cabecalho {
  height: 100vh;
  background: url(../../img/Netflix-Hintergrund\ 1.png) no-repeat center center;
  background-size: cover;
}
.cabecalho .cabecalho-nav {
  display: flex;
  justify-content: space-between;
  padding: 21px 196px 0 196px;
}
.cabecalho .cabecalho-nav img {
  width: 200px;
  height: 50px;
}
.cabecalho .cabecalho-nav .cabecalho-acoes {
  display: flex;
  align-items: center;
  gap: 30px;
}
.cabecalho .cabecalho-nav .cabecalho-acoes #language {
  width: 167px;
  height: 37px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}
.cabecalho .cabecalho-nav .cabecalho-acoes #language:focus {
  background-color: #171717;
}
.cabecalho .cabecalho-nav .cabecalho-acoes .btn {
  width: 118px;
  height: 37px;
  background-color: #ff0000;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}
.cabecalho .cabecalho-conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.cabecalho .cabecalho-conteudo .cabecalho-conteudo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
.cabecalho .cabecalho-conteudo .cabecalho-conteudo-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
}
.cabecalho .cabecalho-conteudo .cabecalho-conteudo-text p {
  font-size: 1.5rem;
  font-weight: normal;
  color: #ffffff;
}
.cabecalho .cabecalho-conteudo .cabecalho-conteudo-text span {
  font-size: 1.25rem;
  font-weight: normal;
  color: #ffffff;
}
.cabecalho .cabecalho-conteudo .cabecalho-conteudo-text .cabecalho-conteudo-form {
  display: flex;
  gap: 15px;
}
.cabecalho .cabecalho-conteudo .cabecalho-conteudo-text .cabecalho-conteudo-form .form-email {
  width: 360px;
  height: 60px;
  background-color: #171717;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 0 29px;
  font-size: 1rem;
  font-weight: normal;
  color: #ffffff;
}
.cabecalho .cabecalho-conteudo .cabecalho-conteudo-text .cabecalho-conteudo-form .form-email::-moz-placeholder {
  font-size: 1.25rem;
  font-weight: normal;
  color: #cfa7a7;
}
.cabecalho .cabecalho-conteudo .cabecalho-conteudo-text .cabecalho-conteudo-form .form-email::placeholder {
  font-size: 1.25rem;
  font-weight: normal;
  color: #cfa7a7;
}
.cabecalho .cabecalho-conteudo .cabecalho-conteudo-text .cabecalho-conteudo-form .form-btn {
  width: 230px;
  height: 60px;
  background-color: #ff0000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: normal;
  color: #ffffff;
}

hr {
  border: none;
  border: 3px solid #1E1E1E;
}

.beneficios {
  background-color: #000;
  color: #fff;
}
.beneficios .beneficios-tv, .beneficios .beneficios-watch, .beneficios .beneficios-kids, .beneficios .beneficios-download {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 102px;
  height: 624px;
}
.beneficios .beneficios-tv .beneficios-text, .beneficios .beneficios-watch .beneficios-text, .beneficios .beneficios-kids .beneficios-text, .beneficios .beneficios-download .beneficios-text {
  max-width: 510px;
}
.beneficios .beneficios-tv .beneficios-text h2, .beneficios .beneficios-watch .beneficios-text h2, .beneficios .beneficios-kids .beneficios-text h2, .beneficios .beneficios-download .beneficios-text h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 49px;
}
.beneficios .beneficios-tv .beneficios-text p, .beneficios .beneficios-watch .beneficios-text p, .beneficios .beneficios-kids .beneficios-text p, .beneficios .beneficios-download .beneficios-text p {
  font-size: 1.25rem;
  font-weight: normal;
}
.beneficios .beneficios-download {
  gap: 0px;
}
.beneficios .beneficios-download .beneficos-img-download {
  position: relative;
}
.beneficios .beneficios-download .beneficos-img-download .img-mobile {
  position: relative;
}
.beneficios .beneficios-download .beneficos-img-download .img-frame {
  position: absolute;
  right: 117px;
  bottom: 35px;
}
.beneficios hr {
  border: none;
  border: 2px solid #1E1E1E;
}/*# sourceMappingURL=style.css.map */